/*========  HTML  =======*/
body {
    font-family: 'Lato', sans-serif;
    color: #4d4d4d;
    font-weight: 300;
    margin-top: 20px;
}


/*===============  Header  ============*/
.fenf-header {

}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.title-name {
    font-size: 18px;
    color: #795548;
}

.title-medium {
    color: #5D4037;
    font-size: 16px;
}

.separator {
    border-width: 5px;
    border-color: #bcaaa4;
}


/*=================  SVG  ==================*/
.a-svg {
    fill:#939393;
}

.b-svg {
    fill:#666;
}

.c-svg {
    fill:#AFAFAF;
}


/*===========  Featured Works  =============*/
.title-featured {
    font-family: 'loto', sans-serif;
    font-size: 30px ;
    color: #999999;
}

.featured-item {
    margin-bottom: 10px;
}


/*===============  Footer  ==================*/
.fend-footer {
    display: block;
    margin-top: 10px;
}

.copyright {
    padding: 10px;
}

.copyright a {
    color: #4d4d4d;
}
.social-icons {
    font-size: 24px;
    text-align: center;
    color: #4d4d4d;
}

.social-icons a {
    color: #4d4d4d;
}

.social-icons a:hover {
    color: #cccccc;
}
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        .title-name {
        font-size: 20px;
        }

        .title-medium {
            font-size: 12px;
        }

        figcaption h3 {
            font-size: medium;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        .title-name {
        font-size: 32px;
        }

        .title-medium {
            font-size: 16px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .title-name {
        font-size: 25px;
        }

        .title-medium {
            font-size: 18px;
        }

        figcaption h3 {
            font-size: 24px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .title-name {
        font-size: 50px;
        }

        .title-medium {
            font-size: 22px;
        }

        figcaption h3 {
            font-size: 24px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .title-name {
        font-size: 60px;
        }

        .title-medium {
            font-size: 30px;
        }

        figcaption h3 {
            font-size: 24px;
        }
    }